.image-wrapper
  display flex
  flex-flow row wrap
  flex 1 auto
  padding 15px 20px 15px 15px
  min-height 600px

  .image
    display flex
    flex 1 100%
    background #e2e2e2

  .tag
    width 32px
    height 32px
    border-radius 16px
    background #6E778B
    position absolute
    text-align center
    line-height 32px
    color #fff
    font-family 'Lato-Black', sans-serif
    font-size 12px
    cursor pointer