.comments
  .comment
    padding 10px
    border-bottom 1px solid #e2e2e2
    .head
      display flex
      flex-flow row wrap
      justify-content space-between

      .id
        display flex
        justify-content center
        width 30px
        height 30px
        border-radius 15px
        background #6F778C
        line-height 30px
        color #fff
      .author
        display flex
        font-weight bold
      .operation
        Adisplay flex

    .body
      .message
        padding 10px 0 0 0

      .replies
        padding 0 10px
        .reply
          padding 20px 0 0 0
          .author
            font-weight bold

      .reply-form
        padding 10px 0
        .reply-input
          width 100%
          border-radius 4px
          text-indent 5px
          line-height 14px
          padding 5px 0
          color #b2b2b2