.comments
  .comment
    padding 10px
    border-bottom 1px solid #e2e2e2
    .head
      display flex
      flex-flow row wrap
      justify-content space-between
      .number, .author, .operation
        display flex
    .body
      .message
        padding 10px 0 0 0

      .replies
        padding 0 10px
        .reply
          padding 20px 0 0 0

      .reply-form
        padding 10px 0
        .reply-input
          width 100%
          border-radius 4px
          text-indent 5px
          line-height 14px
          padding 5px 0
          color #b2b2b2