.image-wrapper
  display flex
  flex-flow row wrap
  flex 1 auto
  padding 15px
  min-height 600px

  .image
    display flex
    flex 1 100%
    background #e2e2e2

  .tag
    width 30px
    height 30px
    border-radius 15px
    background #6F778C
    position absolute
    text-align center
    line-height 30px
    color #fff