.sidebar
  display flex
  flex-flow column wrap
  flex 0 1 auto
  width 25%
  height 100%
  border-left 1px solid #e2e2e2
  overflow hidden

  &.minimized
    width 2%

  .top-menu
    display flex
    flex-row row wrap
    justify-content space-between
    padding 10px
    border-bottom 1px solid #e2e2e2

  .comments
    .comment
      padding 10px
      border-bottom 1px solid #e2e2e2
      .head
        display flex
        flex-flow row wrap
        justify-content space-between
        .number, .author, .operation
          display flex
      .body
        .message
          padding 10px 0